<td>
{{ order.get_status_display }}
{% if perms.webapp.can_take_order %}
    {% if order.status == 'preparing' %}
        <p style="margin-top: 5px">
            <a class="btn btn-warning" href="{% url 'webapp:order_deliver' order.pk %}">Take order</a>
        </p>
    {% endif %}
    {% if order.status == 'on_way' %}
        <p style="margin-top: 5px">
            {% if order.courier == user %}
                <a class="btn btn-warning" href="{% url 'webapp:order_deliver' order.pk %}">Deliver</a>
            {% else %}
                <i style="color: #888888">delivery by</i><br> <b>{{ order.courier }}</b>
            {% endif %}
        </p>
    {% endif %}
{% endif %}

</td>
<td>{{ order.contact_name }}</td>
<td>{{ order.contact_phone }}</td>
<td>{{ order.delivery_address }}</td>
<td>
    {% for o in order.foods.all %}
        <b>{{ o }}: </b>{{ o.amount }} x <i>{{ o.food.price }}</i> = {{ o.get_sum }}
        {% if perms.webapp.delete_orderfood %}
             | <a class="delete_small" href="{% url 'webapp:order_food_delete' order.pk o.pk  %}">Delete</a>
        {% endif %}

        {% if not forloop.last %}<br> {% endif %}
    {% endfor %}
</td>
<td><b>{{ order.get_sum }}</b></td>