{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'webapp:index' %}">Orders</a></li>
                <li><a href="{% url 'webapp:food_list' %}">Food</a></li>

                {% if perms.webapp.add_food and perms.webapp.add_order %}
                    <li><a href="{% url 'webapp:food_create' %}">Add Food</a></li>
                    <li><a href="{% url 'webapp:order_create' %}">Add Order</a></li>
                {% endif %}

            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="nav-item navbar-text">Привет, {{ user.username }}!</li>
                    <li class="nav-item"><a href="{% url 'webauth:logout' %}" class="nav-link">Выход</a></li>
                    <li class="nav-item"><a href="{% url 'webapp:index' %}" class="nav-link">На главную</a></li>
                    {% block menu %}{% endblock %}
                {% else %}
                    <li class="nav-item"><a href="{% url 'webauth:login' %}" class="nav-link">Вход</a></li>
                {% endif %}
            </ul>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            {% if user.is_authenticated %}

                {% block content %}{% endblock %}

            {% endif %}

        </div>
    </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
{#<script src="{% static 'js/popper.min.js' %}"></script>#}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
