{% extends 'base.html' %}
{% block title %}Add Food{% endblock %}
{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">Add Food</div>
        <div class="panel-body">

            <form action="{% url 'webapp:food_create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

        </div>
    </div>



{% endblock %}