{% extends 'base.html' %}
{% block title %}Food{% endblock %}
{% block content %}


    <div class="panel panel-primary">
        <div class="panel-heading">Food</div>
        <div class="panel-body">

        <img src="{{ food.photo.url }}" alt="Картинка еды">
        <h2>{{ food.name }}</h2>
        <h3>Price: {{ food.price }}</h3>
        <p>{{ food.description }}</p>

        <div class="line_helper"></div>

        <a href="{% url 'webapp:food_update' food.pk %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'webapp:food_update' food.pk %}" class="btn btn-danger">Delete</a>

        </div>
    </div>



{% endblock %}

{# Откройте /food/<pk>, чтобы посмотреть картинку еды на этой странице #}