{% extends 'base.html' %}

{% block title %}Food list{% endblock %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">Food list</div>
        <div class="panel-body">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
            {% for food in food_list %}
                <tr>
                    {% include '_food_list.html' %}
                    <td>
                        <a href="{% url 'webapp:food_detail' food.pk %}" class="btn btn-success">View</a>
                        {% if perms.webapp.change_food and perms.webapp.delete_food %}
                            <a href="{% url 'webapp:food_update' food.pk %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'webapp:food_delete' food.pk %}" class="btn btn-danger">Delete</a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
        </table>

        </div>
    </div>


{% endblock %}