{% extends 'base.html' %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">Order list</div>
        <div class="panel-body">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Status</th>
                <th>Client</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Order info</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
            {% for order in order_list %}
                <tr>
                    {% include '_order_list.html' %}
                    {% if perms.webapp.change_order and perms.webapp.add_orderfood %}
                        <td><a href="{% url 'webapp:order_update' order.pk %}" class="btn btn-primary">Edit</a></td>
                        <td><a href="{% url 'webapp:order_food_create' order.pk %}" class="btn btn-success">Add food</a></td>
                    {% endif %}

                </tr>
            {% endfor %}
        </table>

        </div>
    </div>


{% endblock %}