{% extends 'base.html' %}
{% block title %}Заказ{% endblock %}
{% block content %}

<div class="panel panel-primary">
        <div class="panel-heading">Order</div>
        <div class="panel-body">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Client</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Order info</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    {% include '_order_list.html' %}
                    <td>
                        <a href="{% url 'webapp:order_update' order.pk %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'webapp:order_food_create' order.pk %}" class="btn btn-success">Add food</a>
                    </td>
                </tr>
            </tbody>
        </table>



        </div>
    </div>

{% endblock %}

{# Откройте /order/<pk>, чтобы посмотреть список блюд для заказа на этой странице #}