{% extends 'base.html' %}
{% load static %}
{% block title %}Add food to order{% endblock %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">Food</div>
        <div class="panel-body">

            {% if order.status == 'delivered' or order.status == 'on_way' %}
                <h2>Order already delivered or shipped</h2>
            {% else %}

               <h3>Are you sure to delete <i style="color:#888">{{ food }}*{{ food.amount }}</i> from order <i style="color:#888">"{{ order }}"</i>?</h3>
                    <form action="{% url 'webapp:order_food_delete' order.pk food.pk%}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
            {% endif %}

        </div>
    </div>



{% endblock %}
