{% extends 'base.html' %}
{% load static %}
{% block title %}Добавить заказ{% endblock %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">Order Create</div>
        <div class="panel-body">
            <form action="{% url 'webapp:order_create' %}" method="post">
                {% csrf_token %}
                {{ formset.media }}
                {{ form.as_p }}

                {% for form in formset %}
                    <hr>
                    <div class="ml-5">
                        {{ form.as_p }}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>


{% endblock %}

{#{% block scripts %}#}
{#    <script src="{% static "dynamic_formsets/jquery.formset.js" %}" type="text/javascript"> </script>#}
{##}
{#    <script type="text/javascript">#}
{#        $('.order-food').formset();#}
{#    </script>#}
{#{% endblock %}#}