{% extends 'base.html' %}
{% load static %}
{% block title %}Add Food to order{% endblock %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">Food</div>
        <div class="panel-body">

            {% if order.status == 'delivered' or order.status == 'on_way' %}
                <h2>Order already delivered or shipped</h2>
            {% else %}
                <form action="{% url 'webapp:order_food_create' order.pk %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            {% endif %}

        </div>
    </div>



{% endblock %}
