{% extends 'base.html' %}
{% block title %}
    Delete Food?
{% endblock %}
{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">Food Delete</div>
        <div class="panel-body">

            <form method="post">{% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <input type="submit" class="btn btn-danger" value="Confirm">
            </form>

        </div>
    </div>


{% endblock %}